*{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    justify-items: right;
    align-items: center;
    background-color: black;
}
<<<<<<< HEAD
=======
.label{
    display: block;
}
>>>>>>> da4a83cc4a869dcabe0887836e7aceb6a84c5935
